// _colors.scss

// Main Colors

// Darker blue
//$main-color: rgb(113, 134, 136); 
$main-color: rgb(77, 81, 123);
//$main-color: rgb(36, 42, 104); 
// Lighter blue
$secondary-color: rgb(75, 83, 88);

// Vermilion Colors (Different reds)
$vermilion-hex: #7E191B;
$vermilion-rgb: rgb(126, 25, 27);

// Dark Red Colors
$dark-red-hex: #8B0000;
$dark-red-rgb: rgb(139, 0, 0);
$dark-red-cmyk: cmyk(0%, 100%, 100%, 45%);

$white: white;
$black: black;